.container-charts {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  outline: 1px solid black;
  margin: 10px auto;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .field {
    text-align: center;
    font-weight: 500;
  }
}
