<div class="chart-container">
  <div class="chart">
    <div class="percentage">
      <div class="dot dot-1"></div>
      <div class="dot-text dot-text-1">
        <span><span>30%</span></span>
      </div>
      <div class="dot-text dot-text-2">
        <span><span>20%</span></span>
      </div>
      <div class="dot dot-2"></div>
      <svg>
        <circle></circle>
        <circle></circle>
        <circle></circle>
        <circle></circle>
      </svg>
      <div class="text-0">0%</div>
      <div class="text-100">100%</div>
      <div class="main-texts">
        <div class="main-text-1">100%</div>
        <div class="main-text-2">50 cans</div>
        <div class="main-text-3">on hand</div>
      </div>
      <div class="boxes">
        <div class="box box-1">
          <div class="box-number">10</div>
          <div class="box-unit">cans</div>
        </div>
        <div class="box box-2">
          <div class="box-number">15</div>
          <div class="box-unit">cans</div>
        </div>
        <div class="box box-3">
          <div class="box-number">50</div>
          <div class="box-unit">cans</div>
        </div>
      </div>
    </div>
  </div>
</div>
