<div class="chart-container">
  <div class="chart">
    <div class="percentage">
      <div class="dot dot-1"></div>
      <div class="dot dot-2"></div>
      <svg>
        <circle></circle>
        <circle></circle>
        <circle></circle>
        <circle></circle>
      </svg>
      <div class="text-0">0%</div>
      <div class="text-100">100%</div>
      <div class="main-texts">
        <div class="main-text-1">17%</div>
        <div class="main-text-2">9 cans</div>
        <div class="main-text-3">on hand</div>
      </div>
      <div class="boxes">
        <div class="box box-1">
          <div class="box-number">1</div>
          <div class="box-unit">cans</div>
        </div>
        <div class="box box-2">
          <div class="box-number">2</div>
          <div class="box-unit">cans</div>
        </div>
        <div class="box box-3">
          <div class="box-number">3</div>
          <div class="box-unit">cans</div>
        </div>
      </div>
    </div>
  </div>
</div>
